---
import ServiceCard from '../features/ServiceCard.astro'
import { Icon } from 'astro-icon/components'

const servivesData = [
  {
    icon: 'lucide:building-2',
    title: 'Prawo gospodarcze',
    description:
      'Zapewniam wsparcie przy wyborze formy prawnej działalności, zakładaniu i rejestracji firm, spółek, fundacji i stowarzyszeń w KRS lub CEIDG, sporządzaniu umów, statutów i innych dokumentów, zgłaszaniu zmian w rejestrach oraz przygotowywaniu dokumentacji na zgromadzenia wspólników i walne zgromadzenia.',
  },
  {
    icon: 'lucide:chart-no-axes-combined',
    title: 'Prawo administracyjne',
    description:
      'Udzielam porad prawnych i sporządzam pisma w sprawach administracyjnych, m.in. z zakresu prawa budowlanego i gospodarki nieruchomościami. Pomagam w uzyskiwaniu decyzji administracyjnych, reprezentuję klientów przed urzędami i sądami administracyjnymi, wnoszę skargi i odwołania, zaskarżam bezczynność organów oraz dochodzę odszkodowań za bezprawne decyzje.',
  },
  {
    icon: 'lucide:users',
    title: 'Prawo rodzinne',
    description:
      'Wspieram w sprawach rodzinnych, takich jak separacje, rozwody (z orzekaniem o winie lub bez), regulacja władzy rodzicielskiej, kontaktów z dziećmi i miejsca ich pobytu, podział majątku małżonków oraz postępowania alimentacyjne – ich ustalanie, zmiana lub wygaśnięcie.',
  },
  {
    icon: 'lucide:file-chart-column-increasing',
    title: 'Umowy cywilne',
    description:
      'Sporządzam i opiniuję umowy cywilne oraz handlowe, dbając o zabezpieczenie interesów Klientów i minimalizację ryzyka sporów. Pomagam w optymalizacji zabezpieczeń umownych, przygotowuję wzorce umowne, oceniam skutki prawne zapisów oraz wspieram przy rozwiązywaniu i wypowiadaniu umów.',
  },
  {
    icon: 'lucide:fingerprint',
    title: 'Sprawy karne',
    description:
      'Jako adwokat prowadzę sprawy karne, bronię oskarżonych, reprezentuję pokrzywdzonych, sporządzam pisma procesowe, biorę udział w przesłuchaniach i rozprawach oraz czuwam nad ochroną praw moich klientów na każdym etapie postępowania.',
  },
  {
    icon: 'lucide:scale',
    title: 'Prawo spadkowe',
    description:
      'Oferuję pomoc w sprawach spadkowych, w tym doradztwo przy sporządzaniu testamentów, stwierdzeniach nabycia spadku (zarówno ustawowego, jak i testamentowego), działach spadku, dochodzeniu zachowku oraz przy podejmowaniu decyzji o przyjęciu lub odrzuceniu spadku.',
  },
]
---

<section
  id='services'
  class='flex flex-col gap-8 xl:gap-16 w-full px-spaced py-4 xl:py-12 items-center justify-center'
>
  <div class='flex flex-col gap-8 items-center justify-center'>
    <div class='flex flex-row gap-2 xl:gap-4 items-center'>
      <div class='h-1 w-16 xl:w-32 bg-accent rounded-full'></div>
      <h2 class='aboreto-regular text-2xl xl:text-4xl text-center max-w-3xl'>
        Jakie sprawy prowadzi moja Kancelaria Adwokacka w Białej Podlaskiej?
      </h2>
      <div class='h-1 w-16 xl:w-32 bg-accent rounded-full'></div>
    </div>
    <p class='max-w-4xl text-center'>
      Sprawdź listę działów prawnych, w których specjalizuje się jako <strong
        >Adwokat w Białej Podlaskiej.</strong
      > Jeśli Twój problem z prawem, nie zawiera się w jednym z uwzględnionych działów
      - nawiążmy kontakt i powiem Ci, czy będę w stanie pomóc.
    </p>
  </div>
  <div class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8'>
    {
      servivesData.map((service) => {
        return <ServiceCard {...service} />
      })
    }
  </div>
</section>
